*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
:root{
    --primary-color: #f4951b
}

body{
    background-color: var(--primary-color);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 6rem;
    color: rgb(212, 23, 23);
}
main{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.section-carton__jugador,.section-carton__pc,.section-boton{
    width: 100%;
    height: 150px;
}
.section-boton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton-aleatorio{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 5px solid #123156;
    font-size: 2.4rem;
    color: #123156;
}