*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
:root{
    --primary-color: #f4951b;
    --segundo-color: #c50000;
    --color-texto: black;
}

body{
    background-color: var(--primary-color);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 6rem;
    color: var(--segundo-color);
}
main{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.section-carton__jugador,.section-carton__pc,.section-boton{
    width: 100%;
    height: 150px;
}
.section-boton{
    display: flex;
    justify-content: center;
    align-items: center;
}
#resultadoNumeroAleatorio{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: var(--segundo-color);
    margin-bottom: 25px;
    border-radius: 10px;
    font-size: 3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--color-texto);
}
.boton-aleatorio{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 5px solid black;
    font-size: 3rem;
    color: var(--color-texto);
    background-color: var(--segundo-color);
}